/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {

}


.table-view .column-header-background {
    -fx-background-color: #070742;
    -fx-background-insets: 0;
    -fx-padding: 0 2 0 2;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.table-view .table-row-cell {
    -fx-background-color: #070742;
    -fx-text-fill: white;
    -fx-border-color: whitesmoke;
}

.table-view .table-cell {
    -fx-background-color: #070742;
    -fx-border-color: white;
    -fx-border-color: transparent #fff transparent transparent;
    -fx-border-width: 0.2px;
    -fx-border-insets: 0px 0px -0.5px 0px;
}

.table-view .column-header .label {
    -fx-text-fill: white;
}

.table-row-cell {
    -fx-background-color: #070742;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 0 0 0.5 0; /* set border-width to 0 for top, right, and bottom borders; 1 for left border */
}