/*.button{
-fx-background-color :  #0e063d;
-fx-text-fill : #e7e5e5;
}*/

.button:hover{
-fx-background-color : #10165F;
}
.root {
  -fx-background-image: url("file:///C:/Users/nadak/Downloads/back.jpg");
   -fx-background-size: cover;
    -fx-background-position: center;
}